.about-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin: 2%;
    gap: 5%;
}
.about-imgage{
    width: 650px;
}
.about-info h4{
    font-weight:700;
    font-size:2.5rem;
}
.about-info p{
    font-weight: 700;
    font-size: 1.25rem;
}